<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление новости</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="d-flex justify-content-center">
<form method="POST" enctype="multipart/form-data"
      action="/news/write">
    File to upload: <input type="file" width="100px" class="form-control" name="image"><br /> Заголовок: <input
        type="text" width="100px" class="form-control" name="text"><br />Контент: <input
        type="text" width="100px" class="form-control" name="desc"><br /> <br /> <input class="btn" type="submit"
                                                     value="Upload">
</form>
</div>
</body>
</html>