<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html" xmlns:input="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
<form th:action="@{/registration}" th:object="${userForm}" method="post">
    <input th:field="*{login}" type="text" placeholder="Логин">
    <input th:field="*{password}" type="text" placeholder="Пароль">
    <input th:field="*{email}" type="text" placeholder="Электронная почта">
    <input type="submit">
</form>
<p th:if="${error_exists!=''}" th:text="${error_exists}" style="color: #bb2d3b"></p>
</body>
</html>